APP_NAME="Nano Spark LMS"
APP_ENV=production
APP_KEY=base64:5mqffIXKfmg6eSPA0URbWGK9Yoq3AXzAcv02HUQ+K48=
APP_DEBUG=false
APP_URL=https://nanosparklms.vercel.app

LOG_CHANNEL=stderr
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=postgres
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=array
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=cookie
SESSION_LIFETIME=120

MAIL_MAILER=resend
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="hello@nanospark.com"
MAIL_FROM_NAME="${APP_NAME}"

# Resend (Production)
RESEND_API_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=${APP_URL}/auth/google/callback
